h1 {
  color: maroon;
  text-align: center;

}

h2 {
  color: blue;
  font-style: italic;
  text-align: center;

}
p {
  color: green;
  font-family: arial;
  text-align: center;
}
ul {
  color: red;
  line-height: 40px:

}
body {
  background-color: #B9CAE0    
}
